.single-deal-card{
    margin: 0;
    justify-content: center;
    position: relative;
    border-radius: 2px;
    border: #e68a00 solid 5px;
}

.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(248, 188, 99, 0.25);
}