.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error-page {
  background-color: #f8bc63;
  margin-top: 15%;
  text-align: center;
}

body {
  background-image: linear-gradient(to right, #6f7a90, #b7bcc8);
}

.navbar {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.nav-container{
  padding: 0;
  margin: 0;
  width: 100%;
}

.row{
  width: 100%;
}

.auth-links{
  justify-content: left;
}

.nav-link{
  color: white;
  font-size: calc(5px + 2vmin);
}

.nav-link:hover{
  color: #e68a00;
}

.navbar-center-text {
  text-align: center;
  color: white;
}

.navbar-welcome-text{
  display: flex;
  justify-content: center;
}

.links-on-right{
  justify-content: right;
}

/* Invisible spacers to balance the layout */
.invisible-spacer .nav-link.invisible {
  visibility: hidden;
}


.login-message {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.login-message > h2{
  margin: 0%;
  padding: 0%;
}

a {
  color: white;
}

a:hover{
  color: #e68a00;
}

.alert-container {
  margin: 20px, auto;
  background-color: #f8bc63;
  color: #282c34;
  width: 80%;;
}

@media (min-width: 992px) { 
  .alert-container {
    width: 50%;
  }
}

.alert {
  background-color: #f8bc63;
  color: #282c34;
  border: 0;
}

.contact-message {
  background-color: #e68a00;
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}