.title{
    margin: 40px, auto;
    position: relative;
}

h1{
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    background-color: #e68a00;
    max-width: 30%;
    position: relative;
    left: 35%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.table{
    margin: 20px auto;
    width: 95%;
}
