.cards{
    color: #282c34;
}

.label{
    font-weight: bold;
}

.btn{
    background-color: #e68a00;
    border-color: #e68a00;
    color: white;
    border-radius: 2px;
    
}

.btn:hover, .btn:active{
    background-color: #f8bc63 !important;
    border-color: #f8bc63 !important;
}

.title{
    padding-top: 10px;
}

.card{
    border-radius: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}